<tr class="table-secondary">
  <th style="width: 2% "></th>
  <th style="width: 10% "></th>
  <th style="width: 8% ">1月1日</th>
  <th style="width: 8% ">1月2日</th>
  <th style="width: 8% ">1月3日</th>
  <th style="width: 8% ">1月4日</th>
  <th style="width: 8% ">1月5日</th>
  <th style="width: 8% ">1月6日</th>
  <th style="width: 8% ">1月7日</th>
  <th style="width: 32% ", colspan="2">備考</th>
</tr>

<tr class="table-secondary">
  <td></td>
  <td></td>
  <th>月</th>
  <th>火</th>
  <th>水</th>
  <th>木</th>
  <th>金</th>
  <th class = "text-primary">土</th>
  <th class = "text-danger">日</th>
  <td colspan="2"></td>
</tr>

<tr class="table-secondary">
  <td></td>
  <td>催事等</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td colspan="2"></td>
</tr>

