<tr class="table-secondary">
  <%= render "jobs/day", day:day %>
  <th style="width: 5% "></th>
  <th style="width: 27% ">備考</th>
</tr>
<tr class="table-secondary">
  <%= render "jobs/week" %>
  <th></th>
</tr>
<tr class="table-secondary">
  <%= render "jobs/event" %>
  <td></td>
</tr>