
  <th class="one"></th>
  <th class="two_2"></th>
  <th>
    <% if day.mon_by?(day.id) %>
      <div style="color: red">月</div>
    <% else %>
      <div style="color: black">月</div>
    <% end %>
  </th>
  <th>
    <% if day.tue_by?(day.id) %>
      <div style="color: red">火</div>
    <% else %>
      <div style="color: black">火</div>
    <% end %>
  </th>
  <th>
    <% if day.wed_by?(day.id) %>
      <div style="color: red">水</div>
    <% else %>
      <div style="color: black">水</div>
    <% end %>
  </th>
  <th>
    <% if day.thu_by?(day.id) %>
      <div style="color: red">木</div>
    <% else %>
      <div style="color: black">木</div>
    <% end %>
  </th>
  <th>
    <% if day.fri_by?(day.id) %>
      <div style="color: red">金</div>
    <% else %>
      <div style="color: black">金</div>
    <% end %>
  </th>
  <th>
    <% if day.sat_by?(day.id) %>
      <div style="color: red">土</div>
    <% else %>
      <div style="color: dodgerblue">土</div>
    <% end %>
  </th>
  <th style="color: red">日</th>
  <th></th>
