<h1>希望一覧</h1>
  <table class="table table-sm table-bordered table-hover">

    <%= render "thead" %>

    <tbody>
      <% @shifts.sort_by{|shift| shift.user_id}.each do |shift| %>
      <tr>
        <td class="table-secondary"><%= shift.user_id %></td>
        <td class="table-secondary">
          <!--%= link_to job_path(shift.id) do %-->
            <%= shift.user.name %>
          <!--% end %-->
        </td>

        <% if shift.user.job_by?(shift.user.id) %>
          <!--%= render "time" , shift: shift %-->
        <% end %>

          <td class="text-left">
            <% if shift.comment_by?(shift.user_id) %>
              <% @comment.each do |comment| %>
                <% if comment.user_id == shift.user_id %>
                  <%= comment.comment %>
                <% end %>
              <% end %>
            <% end %>
          </td>
      <% end %>
    </tbody>
  </table>
