@use '~bootstrap/scss/bootstrap';


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

header{
  padding-top: 20px;
}

th{
  text-align:center;
}

td{
  text-align:center;
  vertical-align:bottom;
}

hr{
  margin: 20px 0px 30px;
  border-top: 7px double #c0c0c0;
}

/*.line_right{
  border-right: 5px double black;
}

.line_bottom{
  border-bottom: 5px double black;
}*/