@use '~bootstrap/scss/bootstrap';


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

header{
  padding-top: 20px;
}

th{
  text-align:center;
}

td{
  text-align:center;
  vertical-align: middle;
}

hr{
  background-color: #696969;
}

.border_line{
  /*margin: 10px 0px 10px;*/
  border-top: 5px double #c0c0c0;
  background-color: #ffffff;
}

.space{
  display: block;
  content: "";
  height: 5px;
}

/*.line_right{
  border-right: 5px double black;
}

.line_bottom{
  border-bottom: 5px double black;
}*/