@use '~bootstrap/scss/bootstrap';

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.message{
  border-radius: 3px;
  padding: 3px 5px;
}
  .message.error_message{
    display:inline;
    color: #dc143c;
    background-color: #ffd4d1;
    border: solid 1px #dc143c;
  }
  .message.auto_message{
    display:inline;
    color: #1e90ff;
    background-color: #e0ffff;
    border: solid 1px #1e90ff;
  }

  .day_create{
    margin-top: 10px;
  }

.box{
  padding: 32px 20px 0;
  margin: 0px auto;
  width: 200px;
  height: 300px;
  box-shadow: 0 0 10px #c0c0c0;
  background-color: #f0ffff;
  border-radius: 10px;
  position: relative;

}

.login{
  position: absolute;
  right:0;
  bottom:0;
  margin: 0 20px 32px 0;
  /*text-align: right;
  margin-top: 50px;*/
}

header{
  padding-top: 20px;
}

footer{
  padding-top: 15px;
}

.table{
  margin-bottom: 0;
}

th{
  text-align:center;
}

td{
  text-align:center;
  vertical-align: middle;
}

hr{
  background-color: #696969;
}

.space{
  display: block;
  content: "";
  height: 5px;
}

.one{
  width: 3.5%;
  background-color:	#d6d8db;
}
.two{
  width: 9.5%;
}
.name{
  font-size: 15px;
  background-color:	#d6d8db;
}

.day{
  width: 9%;
}

.edit{
  width: 4%;
}

.come{
  width: 20%;
}

.comment{
  text-align: left;
  font-size: 14px;
  white-space: pre-wrap;
}

.saizi{
  font-size: 14px;
  background-color:	#d6d8db;
}

.event{
  font-size: 13px;
  white-space: pre-wrap;/*幅に合わせて勝手に改行する*/
}

.job{
  white-space: pre-wrap;
}

.form{
  min-width: 105px;
}

.scroll{
  border: 2px solid #000;
  border-radius: 3px;
}

.page_position{
  margin-top: 25px; 
  display: flex;
  justify-content: center;
}

@media screen and (max-width:991px){
  .scroll{
    overflow: scroll;
  }

  .hyou{
    height: 350px;
  }

  .one{
    display:none
  }

  .two{
    min-width: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .two_2{
    position: sticky;
    top: 31px;
    left: 0px;
    z-index: 1;
  }

  .name,.saizi{
    position: sticky;
    top: 0px;
    left: 0px;
  }
  .name{
    font-size: 14px;
  }
  .saizi{
    font-size: 13px;
  }

  .day,.edit,.come{

    position: sticky;
    top: 0;
    left: 0px;
  }
  .day{
    min-width: 80px;
  }
  .come{
    min-width: 175px;
  }

  .week{
    position: sticky;
    top: 31px;
    left: 0px;
  }

  .event{
    font-size: 12px;
  }
}

@media screen and (max-width:700px){
  .day{
    min-width: 60px;
  }
}

@media screen and (max-width:665px){
  .two{
    min-width: 50px;
  }

  .day{
    min-width: 58px;
  }

  .hyou{
    height: 650px;
  }

  .long::after{
    content: "\A" ;
    white-space: pre;
  }
}

@media screen and (max-width:385px){
  .hyou{
    height: 500px;
  }
}