@use '~bootstrap/scss/bootstrap';


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

header{
  padding-top: 20px;
}

th{
  text-align:center;
}

td{
  text-align:center;
  vertical-align: middle;
}

hr{
  background-color: #696969;
}

.border_line{
  /*margin: 10px 0px 10px;*/
  border-top: 5px double #c0c0c0;
  background-color: #ffffff;
}

/*.space{
  display: block;
  content: "";
  height: 5px;
}*/

.flash_message{
  border-radius: 1px;
  margin: 10px 0px;
  background-color: #ffd4d1;
  color: #dc143c;
  /*border: solid 1px #930403;*/
  display:inline-block;
}
/*.line_right{
  border-right: 5px double black;
}

.line_bottom{
  border-bottom: 5px double black;
}*/

.box{
  padding: 100px 0 150px;
  margin: 0px auto;
  width: 300px;
  box-shadow: 0 0 10px #c0c0c0;
  background-color: #f0ffff;
  border-radius: 5px;
}